<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="medecin">
            <h2><span jhiTranslate="inscriptionEspApp.medecin.detail.title">Medecin</span> {{ medecin.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inscriptionEspApp.medecin.matricule">Matricule</span></dt>
                <dd>
                    <span>{{ medecin.matricule }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.medecin.user">User</span></dt>
                <dd>
                    {{ medecin.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/medecin', medecin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
